/* Your app custom styles here */

/* UserPanel */

/* Avatar */

.avatar {
    margin-top: 20%;
    height: 300px;
    width: 100%;
}

.avatar .portrait {
    /* centre */
    margin-left: auto;
    margin-right: auto;
    /* aventar size */
    width: 160px;
    height: 160px;
    background: url(../static/images/UserInfo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border */
    border-radius: 50%;
    border: solid 3px #eece1a;
}

.avatar .user-name {
    /* centre */
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10%;
}

.side-panel .log-out-btn {
    font-size: 16px;
    height: 30px;
    width: auto;
    /* horizontal margin */
    margin-inline: 15px;
    /* top margin */
    margin-top: 50px;
}

/* Login Screen */

.login-screen {
    /* background-repeat: no-repeat ; */
    background-size: cover;
    background-image: url(../static/images/loginBackground.jpg);
    position: relative;
}

/* frosted cover */

.login-screen .login-page {
    height: 100%;
    background: inherit;
    position: absolute;
    overflow: hidden;
}

.login-page::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-attachment: fixed;
    filter: blur(4px);
}

.login-page::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

.login-page .header{
    margin-inline: 20px;
}

.header .name{
    font-size: xx-large;
    font-weight: bold;
}
.header .info{
    margin-top: 10px;
    color: #808080;
}

.login-page .login-form{
    margin-top: 150px;
}
.login-screen .login-btn-area {
    margin-top: 100px;
    margin-inline: 25px;
}

.login-screen .login-btn-area .login-btn {
    font-size: 15px;
    height: 35px;
    width: auto;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.login-screen .login-btn-area .or{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.login-screen .login-btn-area .sign-up-btn {
    font-size: 15px;
    height: 35px;
    width: auto;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

/* Feed */
.feed-card .card-header{
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.feed-card .date{
    color: #8e8e93;
}